<h1>Edit with <%=@patient.full_name%></h1>
<p><%= link_to "Back to All Appointments", patient_home_path(@patient) %></p>

<%= 
form_for [@patient, @appointment], :url => { :action => :patient_update } do |f|%>
<%= f.label :physician%>
<%= f.select :physician_id, @physicians.collect{ |u| [u.name, u.id]}%>
<%= f.label :appointment_date%>
<%= f.date_field :appointment_date, "data-provide" => 'datepicker'%>
<br />
<br>
<%= f.submit nil, class:'ui green button'%>
<% end %>