<h1>Appointments for <%=@physician.name%></h1>
<p>Full Name: <%=@patient.full_name%></p>
<p>Age: <%=@patient.age%></p>
<p>Phone #: <%=@patient.phone%></p>
<p>Email: <%=@patient.email%></p>
<p>Appointment Date: <%=@appointment.appointment_date%></p>
